.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  border-radius: 4px;

  padding: 40px 40px;

  background-color: $complementary-color;
  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: $title-color;
  }
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  margin-left: auto;
  padding: 0px;

  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  background-color: inherit;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
.close-icon {
  width: 18px;
  height: 18px;
  fill: rgb(0, 0, 0);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.form-field__input {
  margin-bottom: 10px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(21, 21, 21, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border: 1px solid $accent-color;
  }
}
.form-field {
  position: relative;
  &__label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $main-text-color;
  }
  &__input:focus + &__icon {
    fill: $accent-color;
  }
}
.form-field__check {
  padding-left: 10px;
}
.form-field__icon {
  position: absolute;
  bottom: 12px;
  left: 12px;
  transform: translateY(-9px);
  fill: black;
  transition: fill $transition;
}

.form-field__comments {
  margin-bottom: 10px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(21, 21, 21, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: border $transition;
  &:focus {
    border: 1px solid $accent-color;
  }
}
.agree {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  &:checked + &__icon {
    border-color: transparent;
    background-color: $accent-color;
    background-image: url(../images/svg/agree.svg);
    background-size: contain;
    background-origin: border-box;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.agree__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
  margin-right: 8.38px;
}

.agree__text {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $main-text-color;
  cursor: pointer;
}
.agree__link {
  color: $accent-color;
}
.button--submit {
  margin-left: auto;
  margin-right: auto;
  box-shadow: $footer-btn-shadow;
  transition: background-color $transition;
  &:hover,
  &:focus {
    background-color: $hover-focus-color;
  }
}
